{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Página Principal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'boda/styles.css' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.body.style.opacity = 1; // Asegura que la página comience con opacidad completa
        });

        document.addEventListener("DOMContentLoaded", function() {
            const menuButton = document.getElementById("menu-button");
            const menu = document.getElementById("menu");
            const closeButton = document.getElementById("close-button");

            menuButton.addEventListener("click", function() {
                menu.classList.add("open");
            });

            closeButton.addEventListener("click", function() {
                menu.classList.remove("open");
            });
        });

    </script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/boda/logo.png" class="logo">
        </div>
        <button id="menu-button">☰</button>
        <nav id="menu" class="hidden">
            <button id="close-button" class="close-button"><img src="/static/boda/x.png" width="35px" background-color: ></button><br>
            <ul>
                <li><img src="/static/boda/background2.jpg" alt="Logo 1"><a href="{% url 'pagina_principal' %}">Nos casamos</a></li>
                <li><img src="/static/boda/logo.png" alt="Logo 1"><a href="{% url 'bienvenida' %}">La boda</a></li>
                <li><img src="/static/boda/logo.png" alt="Logo 1"><a href="{% url 'bienvenida' %}">Información útil</a></li>
                <li><img src="/static/boda/logo.png" alt="Logo 1"><a href="{% url 'bienvenida' %}">Lista de boda</a></li>
                <li><img src="/static/boda/logo.png" alt="Logo 1"><a href="{% url 'bienvenida' %}">Confirma tu asistencia</a></li>
            </ul>
        </nav>
    </header>

    <h1>Página Principal de la Boda</h1>
    <!-- Aquí puedes agregar más contenido relacionado con tu boda -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('a').forEach(link => {
                link.addEventListener('click', event => {
                    event.preventDefault(); // Previene la acción predeterminada del enlace
                    document.body.style.opacity = 0; // Aplica el efecto de transición
                    setTimeout(() => {
                        window.location.href = link.href; // Navega a la nueva página después del desvanecimiento
                    }, 500); // Espera 0.5 segundos (según la duración de la transición) antes de cambiar de página
                });
            });
        });
    </script>
</body>
</html>
