/* styles.css */
body {
    background-image: url("/tu_proyecto/staticfiles/boda/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 36px;
    color: #fff; /* Color del texto */
}

p {
    font-size: 18px;
    color: #fff; /* Color del texto */
}
